<meta>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</meta>

<form action='/update_score' method='post'>
  <div class="form-group">
    <h3>
      <label for="name">Ingrese su nombre</label>
    </h3>
      <input class="form-control" type='text' id="name" name="name"/>
    </h3>
  </div>
  <div style="text-align: center">
    <button type='submit' class='btn btn-success'><h4>Ingrese su Nombre</h4></button>
  </div>
</form>