<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>SW & Arquitecture Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Boogaloo">
        <style>
          body,h1,h2,h3 {
            font-family: 'Boogaloo', serif;
          }
        </style>
  </head>
  <body class='container'>
    </br>
    <div class="panel panel-default" >
      <div class="panel-heading" style="text-align: center">
        <h1 class="text-success">The Mighty SW & Arquitecture Quiz</h1>
      </div>
    </div>
    <div class="text-center">
      <img src="images/microservices.png" class="img-fluid" alt="Microservices image">
    </div>
    <form action='/quiz' method='post'>
      <div class="form-group">
        <h3>
          <label for="question_number">Select the number of questions</h3></label>
          <select class="form-control" id="question_number" name="question_number">
            <% (1..10).to_a.each do |value| %>
              <option value="<%=value%>"><%=value%></option>
            <% end %>
          </select>
        </h3>
      </div>
      <div style="text-align: center">
        <button type='submit' class='btn btn-success'><h2>Lets Start!</h2></button>
      </div>
    </form>
    <form action='/score' method='get'>
      <div>
        <h3>Or probably check the current scoreboard ;)</h3>
        <div style="text-align: center">
          <button type='submit' class='btn btn-secondary'><h2>Scoreboard</h2></button>
        </div>
      </div>
    </form>
    <div class="text-info">
      <h3>Developed By</h3>
      <h3>
      <ul>
        <li>Ethan</li>
        <li>Marco</li>
        <li>Servio</li>
      </ul>
      </h3>
      <h3>With Help from</h3>
      <h3>
      <ul>
        <li>Professor Ariel</li>
      </ul>
      </h3>
    </div>
  </body>
</html>
